<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="{% url 'class_students_form_update' id=student.id %}" method="POST">
    <!-- добавляем токен -->
    {% csrf_token %}
    <!-- добавляем форму -->
    {{ student_form }}
    <input type="submit">
</form>

</body>
</html>